/* Books page - list */
/***************************/

.book-formats {
	margin: 15px 0 0 30px;
	a, .inactive {
		text-indent: -99999px;
		display: block;
		width: 40px;
		height: 40px;
		float: left;
		margin-right: 10px;
		background: url("../images/book-icons.png") no-repeat; }
	a.cu-press { background-position: 0 -40px; }
	a.cu-press:hover { background-position: 0 -80px; }
	a.amazon { background-position: -40px -40px; }
	a.amazon:hover { background-position: -40px -80px; }
	a.google-books { background-position: -80px -40px; }
	a.google-books:hover { background-position: -80px -80px; }
	.cu-press-inactive { background-position: 0 0; }
	.amazon-inactive { background-position: -40px 0; }
	.google-books-inactive { background-position: -80px 0; }
}

.book-listing {
	padding: 30px 0;
	background: url("../images/hr-bg.png") no-repeat bottom;
	span { display: block;
		font-size: 1.375em;
		line-height: 1.2em; }
	img {
		max-width: 200px;
		border: 1px solid #c4c4c4; }
	.title { 
		font-size: 1.5em;
		margin: 1em 0;
		padding-right: 20px; }
	.author {
		font-family: 'museo500';
		margin-bottom: 1em; }
	.pub-info { margin-bottom: 0.5em; }
	strong {
		font-weight: normal;
		font-family: 'museo700'; }
	.book-info { 
		background: url("../images/side-divider.png") no-repeat top right;
		padding-bottom: 50px;
	}
	.publisher { margin: 1em 0 0.5em 0; }
	.prices { 
		font-size: 1em;
		margin-bottom: 1em; }
	.purchase-link {
		margin-bottom: 1em;
		font-size: 1.25em;
		a { 
			display: inline-block;
			background: $turquoise;
			color: white;
			padding: 4px 12px;
			margin-bottom: 4px; }
		a:hover { background: #0099b2; }
		.btn-gray, .btn-gray:hover {
			display: inline-block;
			background: $grayedOut;
			color: white;
			padding: 4px 12px;
			margin-bottom: 4px;
			font-size: 1em;
		}
	}
	.purchase-options {
		font-size: 1.125em;
		font-weight: 900;
	}
	.book-formats {
		margin: 10px 0 0 0;
		a, .inactive { margin-right: 5px; }
	}
	.open-access-link {
		font-size: 1.125em;
		margin: 0 0 1em;
		font-weight: bold;
	}
	.open-access {
		padding-top: .5em;
		display: block;
		background: url("../images/book-icons.png") no-repeat;
		background-position: -120px -40px;
	}
	.open-access:hover {
		background-position: -120px -80px;
	}
}
.views-row-first { 
	.book-listing {
		padding-top: 0; }
}
// fix double bottom border
#block-views-books-block-3 {
	.views-row-last {
		.book-listing { background-image: none; }
	}
}

/* Books carousel -- override */
/***************************/
.jcarousel-skin-default {
	.jcarousel-item {
		width: 200px !important;
		height: auto;
	}
}

/* Reader */
/***************************/

// mnimize header
.page-books-reader {
	.navbar {
		margin-bottom: 0;
		.brand {
			margin: 20px 0 5px -20px;
			padding-top: 0;
			font-size: 3em;
		}
		.span8 { display: none; }
	}
	.page-title {
		height: 20px;
		h2 { display: none; }
	}
}
.view-display-id-page_2 { height: 900px; }

/* Book page */
/***************************/

// temp fix for the page title to improve readability; delete or comment out if able to fix the page title so it says "BOOKS" instead of node title (jira issue: https://issues.library.cornell.edu/browse/CULUX-34)
// .page-books {
// 	.page-title {
// 		h2 {
// 			text-transform: none;
// 			font-size: 2em;
// 			width: 75%;
// 			padding: 10px 50px 10px 20px;
// 		}
// 	}
// 	.main-content {
// 		margin-top: 50px;
// 	}
// }