/* Hero */
/***************************/

.hero {
	background: url("../images/hero/etching1.jpg") no-repeat;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	min-height: 520px !important;
}
.new-book {
	float: right;
	margin: 35px 60px 30px 0;
}

/* Featured content */
/***************************/

.panel-display {

	h2.pane-title {
		background: #595959;
		color: white;
		width: 70%;
		padding: 5px 10px;
		font-size: 1.625em;
		margin-bottom: 1em; }
}
.news-item {
	p {
		font-size: 1.125em;
		color: #486570; }
}
.editor-primary {
	overflow: hidden;
	img {
		float: left;
		margin: 0 15px 15px 0;
	}
	
	h4 {
		color: #486570;
		margin: 1.5em 0 0 0;
		font-size: 1.375em; }
}
.editor-secondary {
	img {
		margin: 0 8px 2px 0;
		vertical-align: baseline;
	}
	p {
		width:70%
	}
}

.main-content {
	.region-home-media {
		h4 { text-transform: none; }
	}
}


/* Carousel */
/***************************/
.carousel {
	min-height: 400px;
	background: url("../images/hr-bg.png") no-repeat bottom;
}

.jcarousel-skin-default .jcarousel-container-horizontal, .jcarousel-skin-default .jcarousel-clip-horizontal {
	width:100%;
	height:auto !important;
}


.jcarousel-skin-default .jcarousel-prev-horizontal, .jcarousel-skin-default .jcarousel-prev-horizontal:hover {
	position: absolute;
	top: 55px;
	left: -10px;
	background-position: 0 0;
}



.jcarousel-skin-default .jcarousel-next-horizontal, .jcarousel-skin-default .jcarousel-next-horizontal:hover {
position: absolute;
top: 55px;
right: 25px;
background-position: -75px;
}

.jcarousel-skin-default .jcarousel-next, .jcarousel-skin-default .jcarousel-prev {
display: block;
width: 60px;
height: 120px;
background-image: url(../images/arrows.png);
}

.jcarousel-skin-default .jcarousel-item {
	margin:0px 5em 0px 1em;
}

ul.jcarousel > li.jcarousel-item {

	border:none;

	.author {
	font-style: italic;
	font-size:.85em;
	text-align: left;
	padding-left: .5em;
	}

	.cover {
		.title {
			text-align: left;
			padding-left: .5em;
			margin-top: .5em;
			margin-bottom: .5em;
			line-height: 1.25em;
			a {
				color: #434343;
				font-size: .9em; }
		}
	}	
	.cover img {
		width:99%;
		border: 1px $mediumGray solid;
		}

}

