/* Hero */
/***************************/

.hero {
	background: url("../images/hero/etching1.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 520px;
}
.new-book {
	float: right;
	margin: 35px 60px 30px 0;
}
.book-formats {
	margin: 15px 0 0 30px;
	a, .inactive {
		text-indent: -99999px;
		display: block;
		width: 40px;
		height: 40px;
		float: left;
		margin-right: 10px;
		background: url("../images/book-formats.png") no-repeat; }
	a.cu-press { background-position: 0 -40px; }
	a.cu-press:hover { background-position: 0 -80px; }
	a.amazon { background-position: -40px -40px; }
	a.amazon:hover { background-position: -40px -80px; }
	a.google-books { background-position: -80px -40px; }
	a.google-books:hover { background-position: -80px -80px; }
	.cu-press-inactive { background-position: 0 0; }
	.amazon-inactive { background-position: -40px 0; }
	.google-books-inactive { background-position: -80px 0; }
}

/* Featured content */
/***************************/

.panel-display {

	h2.pane-title {
		background: #595959;
		color: white;
		width: 70%;
		padding: 5px 10px;
		font-size: 1.625em;
		margin-bottom: 1em; }
}
.news-item {
	p {
		font-size: 1.125em;
		color: #486570; }
}
.editor-primary {
	overflow: hidden;
	img {
		float: left;
		margin: 0 15px 15px 0;
	}
	
	h4 {
		color: #486570;
		margin: 1.5em 0 0 0;
		font-size: 1.375em; }
}
.editor-secondary {
	img {
		margin: 0 8px 2px 0;
		vertical-align: baseline;
	}
	p {
		width:70%
	}
}

.view-news .view-content {
	width:70%;
}

.all-news {
	position:relative;
	left:60%
}

.all-editors {
	position:relative;
	left: 60%;
	top: -40px;
}



/* Carousel */
/***************************/
.carousel {
	min-height: 400px;
	background: url("../images/hr-bg.png") no-repeat bottom;
}

.jcarousel-skin-default .jcarousel-container-horizontal, .jcarousel-skin-default .jcarousel-clip-horizontal {
	width:100%;
	height:auto !important;
}


.jcarousel-skin-default .jcarousel-prev-horizontal {
	position: absolute;
	top: 55px;
	left: -10px;
	background-position: 0 0;
}
.jcarousel-skin-default .jcarousel-item {
	margin:0px 5em 0px 1em;
}

ul.jcarousel > li.jcarousel-item {

	border:none;
	
	.author {
	font-style: italic;
	font-size:.85em;
	}

	.cover .title {
	text-align: left;
	padding-left: 1em;

		a {
			color:$textColorPrimary
		}
	}
	.cover img {
		width:99%;
		border: 1px $mediumGray solid;
		}

}