.views-view-grid {
	margin: 0 auto;
}

.image-cell {
	padding: 2em;
	vertical-align: top;
	text-align: center;
}
.folder {
	text-align: center;
	margin-top: 1em;
	a {
		font-size: 20px;
	}
}

h2.folder-name {
	background: #62839a;
	color: white;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size: 1.8em;
	display: inline-block;
}