/* Identity */
/***************************/

.site-identity {
	margin: 30px 30px 80px 0;
	h2 {
		background: #dbdb00;
		opacity: .95;
		padding: 30px;
		color: white;
		margin:  0;
		font-family: 'MercuryRegular';
		font-size:	3em;
		line-height: 1.1em; }
	p {
		background: #444;
		opacity: .8;
		padding: 30px;
		color: white;
		font-size: 1.375em;
	}
}

/* Sub page title */
/***************************/

.not-front {
	.page-title {
		background: url("../images/hero/etching1.jpg") no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 160px;
		h2 {
			font-family: 'museo500';
			font-size: 2.5em;
			text-transform: uppercase;
			padding: 20px 50px 20px 20px;
			background: $turquoise;
			color: white;
			display: inline-block;
			margin-top: 100px;
			opacity: .9;
		}
	}
}

/* Main text content */
/***************************/
.main-content {
	color: $textColorPrimary;
	.container { margin-top: 30px; }
	h3 {
		background: #62839a;
		font-size: 1.375em;
		font-family: 'museo500';
		display: inline-block;
		padding: 5px 10px;
		color: white;
		text-transform: lowercase;
		margin-bottom: 1.5em; }
	h4 {
		text-transform: lowercase;
		font-size: 1.375em;
		line-height: 1.25em;
		font-family: 'museo700'; }
}

/* Footer */
/***************************/
footer {
	padding: 60px 0;
	background: url("../images/hr-bg.png") no-repeat top;
	clear:both;
	nav {
		ul.menu {
			list-style: none;
			margin-left: 0;
			padding-bottom: 40px;
			li { 
				float: left;
				font-size: 1.125em;
				border-right: 1px solid $lightGray;
				text-transform: lowercase; }
			li.active {
				a { color: #a7a7ab; }
			}
			li.leaf { 
				list-style-type: none;
				list-style-image: none; }
			a, a:visited {
				display: block;
				color: #4d4e53;
				padding: 0;
			}
			li:first-child {
				margin-left: 0;
				// a { background-image: none; }
			}
			li:last-child { border-right: 0; }
		}
	}
	p.copyright { margin-top: 5px; }
	.footer-logo {
		img { margin-right: 20px; }
	}
	.span3 { text-align: right; }
	.region-footer-secondary {
		p { font-size: 1em; }
	}
}
.social-links {
	text-align: right;
}

/* Forthcoming */
/***************************/

.forthcoming-item {
	margin: 0 0 1.5em;
}
.forthcoming-title {
	font-size: 1.5em;
	line-height: 1.25em;
	margin-bottom: .25em;
}
.forthcoming-info {
	font-size: 1.1em; }

/* Editors */
/***************************/

.editor {
	margin-bottom: 1em;
}
.editor-name {
	font-size: 1.25em;
	line-height: 1.25em;
	margin-bottom: .25em;
}
.editor-affiliation {
	font-size: 1em;
}

/* Highlight */
/***************************/

.highlight {
	width: 25%;
	font-size: 1.1em;
}

/* News */
/***************************/

.news-title {
	font-size: 1.5em;
	line-height: 1.25em;
	margin-bottom: 1em; }
.news-teaser {
	p { font-size: 1em; }
}
.news-date { margin-bottom: 1.5em; }

.front {
	.news-title { 
		font-size: 1.25em;
		margin-bottom: .25em; }
}
.main-content {
	h3.news {
		font-size: 1.75em;
		padding: 0;
		display: block;
		color: inherit;
		background: none;
		text-transform: none;
		margin-bottom: 1em;
	}
}

/* Reader */
/***************************/

// mnimize banner
.page-books-reader {
	.page-title {
		height: 40px;
		h2 { display: none; }
	}
}
.view-display-id-page_2 { height: 900px; }