.audio-speaker {

	margin-top: 30px;


	h3 {
		margin-bottom: 10px;
	}
	

	img {
		display: block;
		float: left;
		margin-right: 30px;
		margin-bottom: 30px;

	}
}

.main-content h3 {

    text-transform: none;
}