h3.suplement-title {

	margin-bottom: 10px !important;
	
	a {
		color: #fff;
	}
	
}

.book-details {

	padding-left: 20px;
	margin-bottom: 20px;
	display: inline-block;
	font-size: 1.3em;
    font-weight: bold;
}


.multimedia-book-description {

	font-size: 1.1em;
	line-height: 1.6em;
	p {
		font-size: 1em;
	}
}

.attachment-before {

	margin-bottom: 20px;
}

.audio-speaker {

	margin: 30px 0 20px 0;
	padding-bottom: 10px;
	overflow: hidden;
	background: url("../images/hr-bg.png") no-repeat bottom;

	h3 {
		margin-bottom: 10px;
	}

	img {
		display: block;
		float: left;
		margin-right: 30px;
		margin-bottom: 10px;

	}
}
#audio-speaker-biography {
	font-size: 1.1em;
	line-height: 1.6em;
	p {
		font-size: 1em;
	}
}

.photo-copyright {
	font-size: .75em;
	color: #666;
}

.audio-book {

	h3 {
		display: inline-block;
		margin-bottom: 10px;
		line-height: 1.4em;

	}

	a {
		padding-left: 20px;
		margin-bottom: 20px;
		display: inline-block;
		font-size: 1.3em;
    	font-weight: bold;

	}
}

.main-content {
	.audio-title {
		clear: both;
		overflow: hidden;
		h4 {
			text-transform: none;
			font-weight: normal;
			float: left;
		}
		.speaker {
			float: left;
			display: inline-block;
			line-height: 3em;
			margin-left: 1em;
		}
	}
}

.audio-embed {

	margin-top: 20px;
}

.audio-data {

	margin-bottom: 30px;
	font-size: 1.1em;
	line-height: 1.6em;

	// .audio-date,
	// .audio-duration,
	// .audio-context,
	// .audio-language,
	// .audio-rights,
	// .audio-body,
	// .audio-related-text, 
	// .text-supplement {

	// 	margin-top: 10px;
	// }
	// .audio-date {
	// 	margin-top: 10px;
	// }
	.text-supplement {
		margin-bottom: 10px; 
	}

	.audio-body {
		margin-top: 10px;
		p {
			font-size: 1.1em;
			line-height: 1.6em;
		}
	}
	.audio-rights {
		p {
			margin-bottom: 0;
			font-size: 1em;
		}
		b, strong {
			float: left; // make permissions label inline
			margin-right: .25em;
		}
	}
	.audio-related-text {
		p {
			font-size: 1em;
			margin-bottom: 0;
		}
	}
}

.main-content h3 {

    text-transform: none;
}

.suplement-title {
	margin-bottom: 0;
}


 .multimedia-item {

 	margin-bottom: 40px;
 	padding-top: 30px;

 	background: url("../images/hr-bg.png") no-repeat top;

	.icon {

		width: 80px;

		.icon-audio {

			width: 70px;
			height: 70px;
		}

	}

	.span10 {

		margin-left: 5px;
	}

	h4 {

		text-transform: none;
		font-family: "museo300";
	}

	p {
		font-size: 1.1em;
		margin-bottom: 5px !important;
	}


}

.page-books {
	.multimedia-link {
		
		background: none repeat scroll 0 0 #18b9d2;
	    color: #fff !important;
	    display: inline-block;
	    font-size: 1.5em;
	    margin-bottom: 4px;
	    margin-top: 20px;
	    padding: 10px 12px;
	}
}

.related-content-item {
	i {
		color: $turquoise;
		font-size: 125%;
	}
}

	


