.suplement-title {
	
	a {
		color: #fff;
	}
	margin-bottom: 10px;
}

.book-details {

	padding-left: 20px;
	margin-bottom: 20px;
	display: inline-block;
}

.attachment-before {

	margin-bottom: 20px;
}

.audio-speaker {

	margin-top: 30px;


	h3 {
		margin-bottom: 10px;
	}
	

	img {
		display: block;
		float: left;
		margin-right: 30px;
		margin-bottom: 30px;

	}
}



.audio-book {

	h3 {
		display: inline-block;
		margin-bottom: 10px;
		line-height: 1.4em;
		
	}

	a {
		padding-left: 20px;
		margin-bottom: 20px;
		display: inline-block;
	}
}

.audio-embed {

	margin-top: 20px;
}

.audio-data {

	margin-bottom: 30px;
	font-size: 1.1em;
	line-height: 1.6em;

	.audio-date,
	.audio-duration,
	.audio-context,
	.audio-language,
	.audio-rights,
	.audio-body {

		margin-top: 10px;
	}

	.audio-body {

		p {
			font-size: 1.1em;
			line-height: 1.6em;
		}
	}
}

.main-content h3 {

    text-transform: none;
}

.suplement-title {
	margin-bottom: 0;
}


 .multimedia-item {

 	margin-bottom: 40px;
 	padding-top: 30px;

 	background: url("../images/hr-bg.png") no-repeat top;

	.icon {

		width: 80px;

		.icon-audio {

			width: 70px;
			height: 70px;
		}

	}

	.span10 {

		margin-left: 5px;
	}

	h4 {

		text-transform: none;
		font-family: "museo300";
	}

	p {
		font-size: 1.1em;
		margin-bottom: 5px !important;
	}


}

.page-books {
	.multimedia-link {
		
		background: none repeat scroll 0 0 #18b9d2;
	    color: #fff !important;
	    display: inline-block;
	    font-size: 1.5em;
	    margin-bottom: 4px;
	    margin-top: 20px;
	    padding: 10px 12px;
	}
}




	


