.audio-speaker {

	margin-top: 30px;


	h3 {
		margin-bottom: 10px;
	}
	

	img {
		display: block;
		float: left;
		margin-right: 30px;
		margin-bottom: 30px;

	}
}

.audio-book {

	h3 {
		display: inline-block;
	}

	a {
		padding-left: 20px;
	}
}

.audio-data {

	.audio-date,
	.audio-duration,
	.audio-context,
	.audio-language,
	.audio-rights,
	.audio-body {

		margin-top: 10px;
	}

	.audio-body {

		p {

		}
	}
}

.main-content h3 {

    text-transform: none;
}