.audio-speaker {

	margin-top: 30px;


	h3 {
		margin-bottom: 10px;
	}
	

	img {
		display: block;
		float: left;
		margin-right: 30px;
		margin-bottom: 30px;

	}
}

.audio-book {

	h3 {
		display: inline-block;
		margin-bottom: 0;
		line-height: 1.4em;
	}

	a {
		padding-left: 20px;
		margin-bottom: 20px;
		display: inline-block;
	}
}

.audio-embed {

	margin-top: 20px;
}

.audio-data {

	.audio-date,
	.audio-duration,
	.audio-context,
	.audio-language,
	.audio-rights,
	.audio-body {

		margin-top: 10px;
	}

	.audio-body {

		p {

		}
	}
}

.main-content h3 {

    text-transform: none;
}

.suplement-title {
	margin-bottom: 0;
}


 .multimedia-item {

 	margin-bottom: 40px;

 	background: url("../images/hr-bg.png") no-repeat top;

	.icon {

		width: 80px;
		padding-top: 30px;

		.icon-audio {

			width: 70px;
			height: 70px;
		}

	}

	.span10 {

		margin-left: 5px;
	}

	h4 {

		text-transform: none;
		font-family: "museo300";
	}

	p {
		font-size: 1.1em;
		margin-bottom: 5px !important;
	}


}


	


