//
// Responsive: Tablet to desktop
// --------------------------------------------------

@media (min-width: 768px) and (max-width: 979px) {
	// body { font-size: 90%; }
	.navbar {
		.container { width: 724px; }
		.brand { font-size: 6em; }
		.nav {
			li {
				a { font-size: 1em; }
			}
		}
		,menu { margin-top: 30px; }
		// override bootstrap nav collapse at this size
		.btn-navbar { display: none; }
	}
	// override bootstrap nav collapse at this size
	.nav-collapse, 
	.nav-collapse.collapse { overflow: visible; }
	.nav-collapse {
		.nav > li { 
			float: left;
			font-size: 90%; }
	}
	footer {
		nav {
			ul {
				li { font-size: 1em; }
			}
		}
	}

	.jcarousel-skin-default .jcarousel-container-horizontal, .jcarousel-skin-default .jcarousel-clip-horizontal {
		width:95%;
		height:auto !important;
	}
}
