//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------

@media (max-width: 767px) {
	body { 
		padding: 0;
		margin: 0;
		font-size: 90%; }
	.navbar {
		.container { 
			width: auto;
			padding: 0 10px; }
		.btn-navbar {
			background: $turquoise;
			margin-top: 10px;
		}
		.btn-navbar:hover { background: $turquoise; }
		.nav {
			float: none;
			li {
				a,
				a:hover {
					background-image: none; }
			}
		}
	}
	.container { padding: 0 10px; }
	.site-identity {
		margin-bottom: 30px;
		h2 {
			font-size: 2em;
			padding: 15px 15px 10px 15px;
		}
		p { font-size: 1.2em; }
	}
	.new-book { 
		margin-top: 0;
		float: none; }
	.page-books {
		.page-title {
			h2 { font-size: 1.75em; }
		}
	}
	.jcarousel-skin-default .jcarousel-container-horizontal, .jcarousel-skin-default .jcarousel-clip-horizontal {
		width:250px;
		height:auto !important;
	}

}
