//
// Responsive: Phone
// --------------------------------------------------

@media (max-width: 480px) {
	.navbar {
		.brand { margin-left: -15px; }
	}
	// .site-identity { 
	// 	margin: 20px 0;
	// }
	.jcarousel-skin-default .jcarousel-container-horizontal, .jcarousel-skin-default .jcarousel-clip-horizontal {
	width:95%;
	height:auto !important;
	}

	.jcarousel-skin-default .jcarousel-item {
    margin: 0px 0.5em 0px 0em;
	}


}
