//
// Responsive: Phone
// --------------------------------------------------

@media (max-width: 480px) {
	.navbar {
		.brand { margin-left: -15px; }
	}
	.page-books {
		.page-title {
			h2 { 
				margin-top: 50px;
				line-height: 1.25em;
				font-size: 1.5em; }
		}
	}
	.jcarousel-skin-default .jcarousel-container-horizontal, .jcarousel-skin-default .jcarousel-clip-horizontal {
		width:230px;
	}

	.jcarousel-skin-default .jcarousel-item {
    	margin: 0px 0.5em 0px 0em;
	}

}
