$cornellPrimary: #b31b1b; // cornell red
$cornellPrimaryHover: #990f26; // dark red
$cornellBar: #4D4E53; // gray
$cornellFont: verdana, sans-serif;

$primaryColor: #210d29; // dark purple
$headerColor: #3a114a; // purple
$highlightColor: #e6b91c; // yellow
$highlightColorHover: #c29700; // dark yellow

$textColorPrimary: #486570; // blue-gray
$textColorDark: #333;
$textColorLight: white;

$lightGray: #bebebe;
$mediumGray: #a2a1a1;

$grayedOut: #bfc9cd;

$linkPrimary: #18b9d2;

$turquoise: #18b9d2;
$turquoiseHover: #0099b2;

// Fonts
// -------------------------
$baseFontFamily: 'museo300';

// -------------------
// Boostrap overrides
// -------------------

// Wells
// -------------------------
$wellBackground: $primaryColor;


