/*
Syntax error: Invalid CSS after "...xtColorPrimaryl": expected ";", was ".container { ma..."
        on line 53 of _layout.scss
        from line 19 of style.scss

48: 
49: /* Main text content *\/
50: /***************************\/
51: .main-content {
52: 	color: $textColorPrimaryl
53: 	.container { margin-top: 30px; }
54: 	h3 {
55: 		background: #62839a;
56: 		font-size: 1.375em;
57: 		font-family: 'museo500';
58: 		display: inline-block;

Backtrace:
_layout.scss:53
style.scss:19
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:1147:in `expected'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:1083:in `expected'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:1078:in `tok!'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:585:in `block in declaration_or_ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `rethrow'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:553:in `block_child'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:542:in `block_contents'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:534:in `block'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:552:in `block_child'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/scss/parser.rb:27:in `parse'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/engine.rb:342:in `_to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/engine.rb:274:in `to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...xtColorPrimaryl\": expected \";\", was \".container { ma...\"\A         on line 53 of _layout.scss\A         from line 19 of style.scss\A \A 48: \A 49: /* Main text content */\A 50: /***************************/\A 51: .main-content {\A 52: 	color: $textColorPrimaryl\A 53: 	.container { margin-top: 30px; }\A 54: 	h3 {\A 55: 		background: #62839a;\A 56: 		font-size: 1.375em;\A 57: 		font-family: 'museo500';\A 58: 		display: inline-block;"; }
