/*
Syntax error: File to import not found or unreadable: books.
              Load path: /Users/melissawallace/Documents/cornell/svn-themes/signaletheme/trunk/theme/css
        on line 21 of style.scss

16: @import 'base';
17: @import 'cornell-brand';
18: @import 'navigation';
19: @import 'layout';
20: @import 'home';
21: @import 'books';
22: @import 'responsive';
23: 
24: 
25: 
26: // @import 'header';

Backtrace:
style.scss:21
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/import_node.rb:45:in `import'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:215:in `visit_import'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.2/lib/listen/multi_listener.rb:108:in `call'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.2/lib/listen/multi_listener.rb:108:in `on_change'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.2/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.2/lib/listen/adapter.rb:198:in `call'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.2/lib/listen/adapter.rb:198:in `report_changes'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.2/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/melissawallace/.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/listen-0.7.2/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: books.\A               Load path: /Users/melissawallace/Documents/cornell/svn-themes/signaletheme/trunk/theme/css\A         on line 21 of style.scss\A \A 16: @import 'base';\A 17: @import 'cornell-brand';\A 18: @import 'navigation';\A 19: @import 'layout';\A 20: @import 'home';\A 21: @import 'books';\A 22: @import 'responsive';\A 23: \A 24: \A 25: \A 26: // @import 'header';"; }
