body {
	font-size: 100%;

	background: white;
}

/* Links */
/***************************/
a,

a:hover,
a:active { text-decoration: none; }

/* Typography */
/***************************/

h1 {
	// font-family: $headerFontFamily;

	font-size: 6em;
	font-weight: normal;
	text-shadow: 0 3px 0 #444;
}
h2 {
	// font-family: $headerFontFamily;
	font-size: 2.2em;
	font-weight: normal;
}
h3 { font-size: 1.2em; }
p { 
	line-height: 1.6em;
	margin-bottom: 1.5em; }


/* Miscellaneous */
/***************************/
p.top-link,
p.next-link {
	text-align: right;
	font-size: 3.5em;
	margin: 0 0 -35px 0;
	line-height: 1em;

	a:hover { 
		text-decoration: none; }
}
p.caption {
	font-size: 0.875em;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.align-right { text-align: right; }


// hr{
//       background:url(short-rule.gif) repeat-x top left;
//       border: 0;
// }
// #secondary-content hr{
//       background:url(med-rule.gif) no-repeat top center;
//       border: 0;
// }


//@import '/sites/all/themes/signale/css/lib/bootstrap.scss';
// @import '/sites/all/themes/signale/css/lib/responsive';


// Override necessary Bootstrap variables!
//@import '/sites/all/themes/signale/css/variables.scss';

// Font Awesome
// @import 'font-awesome';

// Fonts
// @import '/sites/all/themes/signale/css/font-museo';
// @import '/sites/all/themes/signale/css/css/font-mercury';

// Load partials
// @import '/sites/all/themes/signale/css/base';
// @import '/sites/all/themes/signale/css/cornell-brand';
// @import '/sites/all/themes/signale/css/navigation';
// @import '/sites/all/themes/signale/css/layout';
// @import '/sites/all/themes/signale/css/home';
// @import '/sites/all/themes/signale/css/book';
// @import '/sites/all/themes/signale/css/responsive';




// @import 'header';
// @import 'facets';
// @import 'search-form';
// @import 'search-results';
// @import 'pagination';
// @import 'item-record';
// @import 'footer';
// @import 'request-forms';